@model ReconBeta.ViewModels.GeneralViewModel
@{
  ViewData["Title"] = "Home Page";
  Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Recon System Beta</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="~/UI/assets/favicon.ico" />
  <!-- Bootstrap Icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
  <!-- SimpleLightbox plugin CSS-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="~/UI/css/styles.css" rel="stylesheet" />
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
  <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
</head>
<body id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="#page-top">Recon System <small style="font-size: x-small;">V 1.0<span style="color: lightgreen;"> BETA</span></small></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto my-2 my-lg-0">
          <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
          <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
          <li class="nav-item"><a class="nav-link" href="#portfolio">Pictures</a></li>
          <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
        <partial name="_LoginPartial" />
      </div>
    </div>
  </nav>
  <!-- Masthead-->
  <header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
      <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-8 align-self-end">
          <h1 class="text-white font-weight-bold">Introducing the <span style="color: rgb(187, 111, 111);">Cardinal Technology's </span> Recon System <span style="color:lightgreen;">BETA</span></h1>
          <hr class="divider" />
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 mb-5">Be more efficient and productive with Recon System. Allow yourself to work with more assurance and leave the danger detection to your new buddy</p>

        </div>
        <div class="page-content page-container" id="page-content">
          <div class="padding">
            <div class="row container d-flex justify-content-center">
              <div class="template-demo mt-2">
                <a href="@Model.Store.AppStore" class="btn btn-outline-dark btn-icon-text">
                  <i class="fa fa-apple btn-icon-prepend mdi-36px">

                  </i> <span class="d-inline-block text-left">
                    <small class="font-weight-light d-block">
                      Available on the

                    </small> App Store
                  </span>
                </a>
                <a href="@Model.Store.GooglePlayStore" class="btn btn-outline-dark btn-icon-text">
                  <i class="fa fa-android btn-icon-prepend mdi-36px">

                  </i>
                  <span class="d-inline-block text-left">
                    <small class="font-weight-light d-block">
                      Get it on the
                    </small>
                    Google Play
                  </span>
                </a>

                <a href="@Model.Store.MicrosoftStore" class="btn btn-outline-dark btn-icon-text">
                  <i class="fa fa-windows btn-icon-prepend mdi-36px">

                  </i>
                  <span class="d-inline-block text-left">
                    <small class="font-weight-light d-block">
                      Download from
                    </small>
                    Windows Store
                  </span>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- About-->
  <section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-white mt-0">We've got you covered!</h2>
          <hr class="divider divider-light" />
          <p class="text-white-75 mb-4">Do you always want to look over your shoulder all the time in that workplace or area? now you can relax and do that which is improtant while Recon system takes care of you.</p>
          <a class="btn btn-light btn-xl" href="#services">Get Started!</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Services-->
  <section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
      <h2 class="text-center mt-0">What you Get</h2>
      <hr class="divider" />
      <div class="row gx-4 gx-lg-5">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
            <h3 class="h4 mb-2">Smart Recon Drone</h3>
            <p class="text-muted mb-0">This is the UAV that does the parameter check to find potential hazards and danger</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
            <h3 class="h4 mb-2">PC application</h3>
            <p class="text-muted mb-0">This helps manage real time information from your scout drone. The main contol hub for your system</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
            <h3 class="h4 mb-2">Cloud</h3>
            <p class="text-muted mb-0">you get to store life feeds from your scout and other relivant data to the cloud. you wont loose any data than you get</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <div class="mb-2"><i class="bi-phone fs-1 text-primary"></i></div>
            <h3 class="h4 mb-2">Recon Mobile app</h3>
            <p class="text-muted mb-0">This is for all the users connected to the PC hub. With this you can report emergency, get live broadcast of cause of emergency, list of special emergency numbers...</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Portfolio-->
  <div id="portfolio">
    <div class="container-fluid p-0">
      <div class="row g-0">
        @foreach (var item in Model.GalaryImages)
        {
          try
          {
            <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box" href="~/Images/@item.ImageName" title="Project Name">
                <img class="img-fluid" src="~/Images/@item.ImageName" alt="..." />
                <div class="portfolio-box-caption">
               
                  <div class="project-name">@item.Title</div>
                </div>
              </a>
            </div>
          }
          catch
          {


          }

        }


      </div>
    </div>
  </div>
  <!-- Call to action-->
  <!-- Contact-->
  <section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-lg-8 col-xl-6 text-center">
          <h2 class="mt-0">Let's Get In Touch!</h2>
          <hr class="divider" />
          <p class="text-muted mb-5">Ready to start your next project with us? Send us a messages and we will get back to you as soon as possible!</p>
        </div>
      </div>
      <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
        <div class="col-lg-6">
          <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
              <input asp-for="ContactUs.Name" class="form-control" id="inputName" type="text" placeholder="Enter your name..." />
              <label for="inputName">Full name</label>
            </div>
            <div class="form-floating mb-3">
              <input asp-for="ContactUs.Email" class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
              <label for="inputEmail">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input asp-for="ContactUs.Phone" class="form-control" id="inputPhone" type="tel" placeholder="(123) 456-7890" />
              <label for="inputPhone">Phone number</label>
            </div>
            <div class="form-floating mb-3">
              <textarea asp-for="ContactUs.Message" class="form-control" id="inputMessage" type="text" placeholder="Enter your message here..." style="height: 10rem"></textarea>
              <label for="inputMessage">Message</label>
            </div>
            <div class="d-grid"><button class="btn btn-primary btn-xl" type="submit">Submit</button></div>
          </form>
        </div>
      </div>
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-lg-4 text-center mb-5 mb-lg-0">
          <i class="bi-phone fs-2 mb-3 text-muted"></i>
          <div>+234 (0) 7030886246</div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer-->
  <footer class="bg-light py-5">
    <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; @DateTime.UtcNow.Year -<a href="https://cardinaltechnology.net"> Cardinal Technology Earth</a></div></div>
  </footer>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
  <!-- SimpleLightbox plugin JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>
</body>
</html>
